<html>
    <head>
        <body>
            <h1>- Intro -</h1>

            <a href="{{ path('app_home') }}">Home</a>
            <a href="{{ path('app_author_show') }}">Author page</a>
            <a href="{{ path('app_contact') }}">Contact us</a>
        </body>
    </head>
</html>